{% extends "base.html" %}
{% block content %}
    <br><br>
    <div class="container">
        <h1>รายชื่อห้องที่จองไว้</h1>
        <br>
        <table class="table">
            <tr class="table-Info">
                <th>ชื่อห้อง</th>
                <th>วันที่จอง</th>
                <th>เวลาที่จอง</th>
                <th>เวลาว่างของห้อง</th>
                <th>สถานะ</th>
            </tr>
            {% for book in books %}
            <tr>
                <td>{{ book.room.name }}</td>
                <td>{{ book.date|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ book.start_time|date:"H:i" }} - {{ book.end_time|date:"H:i" }}</td>
                <td>{{ book.room.open_time|date:"H:i" }} - {{ book.room.close_time|date:"H:i" }}</td>
                <td>{{ book.status|default_if_none:"รออนุมัติ" }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}