{% extends 'base.html' %}
{% block content %}
    <br><br>
    <div class="container">
    <h1>ชื่อห้อง : <span class="text-info">{{ room.name }}</span></h1>
        <div class="row">
            <div class="col-4">
                <div class="border border-dark rounded bg-light container">
                    <p>รายละเอียด</p>
                    <ul>
                        <li>เวลาเปิด : {{room.open_time|date:'H:i'}}</li>
                        <li>เวลาปิด : {{ room.close_time|date:'H:i' }}</li>
                        <li>ความจุ : {{ room.capacity }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-1">
            </div>
            <div class="col-7 border border-dark rounded">
                <h2>ขอจองห้อง</h2>
                <br>
                <form action="{% url 'save_booking' id=room.id %}" class="container-fluid" method="POST">
                    {% csrf_token %}
                    <div class="row form-group">
                        <label class="col-2">วันที่จอง : </label>
                        <input class="col-10" id="datepicker" name="date" width="200" selectedday="{{ date }}" value="{{ date|date:"SHORT_DATE_FORMAT"}}" required/>
                    </div>
                    <br>
                    <div class="row form-group">
                            <label class="col">ตั้งแต่เวลา : </label>
                            <input id="timepicker1" name="start_time" class="col" width="200" required>
                            <label class="col">ถึงเวลา : </label>
                            <input id="timepicker2" name="end_time" class="col" width="200" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>เหตุผลการใช้งาน : </label>
                        <textarea class="form-control" name="descrip" rows="5" id="comment">{% if descrip %}{{ descrip }}{% endif %}</textarea>
                    </div class="form-group">
                        <button type="submit" class="btn btn-warning" onclick="return alert_cofrim('คุณต้องการจะจองใช่หรือไม่')"> จอง </button>
                    <div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}