{% extends 'base.html' %}
{% block content %}
    <br><br>
    <div class="container">
    <h1>ชื่อห้อง : {{ room.name }}</h1>
        <div class="row">
            <div class="col-4 border border-dark rounded bg-light">
                รายละเอียด
                <ul>
                    <li>เวลาเปิด : {{room.open_time|date:'H:i'}}</li>
                    <li>เวลาปิด : {{ room.end_time|date:'H:i' }}</li>
                    <li>ความจุ : {{ room.capacity }}</li>
                </ul>
            </div>
            <div class="col-1">
            </div>
            <div class="col-7 border border-dark rounded">
            </div>
        </div>
    </div>
{% endblock content %}