{% extends "base.html" %}
{% block content %}
    <br><br>
    <div class="container border rounded bg-white">
        <br>
        <h2 class="text-primary">รายชื่อห้องที่จองไว้</h2>
        <br>
        <table class="table">
            <tr class="table-Info">
                <th>ชื่อห้อง</th>
                <th>วันที่จอง</th>
                <th>เวลาที่จอง</th>
                <th>เวลาเปิด - ปิด</th>
                <th>สถานะ</th>
            </tr>
            {% for book in books %}
            <tr>
                <td>{{ book.room.name }}</td>
                <td class="text-info">{{ book.date|date:"SHORT_DATE_FORMAT" }}</td>
                <td class="text-primary">{{ book.start_time|date:"H:i" }} - {{ book.end_time|date:"H:i" }}</td>
                <td>{{ book.room.open_time|date:"H:i" }} - {{ book.room.close_time|date:"H:i" }}</td>
                <td><span class="text-{% if book.status == 'อนุมัติ' %}success{% endif %}{% if book.status == 'ไม่อนุมัติ' %}danger{% endif %}">
                        {% if book.status == 'ไม่อนุมัติ' %}
                        <a href="#" class="text-danger" onclick="alert('เพราะ {{ book.status_remark }}')">{{ book.status }}</a>
                        {% else %}
                        {{ book.status|default_if_none:"รออนุมัติ" }}
                        {% endif %}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}