{% extends "base.html" %}
{% block content %}
    <div class="container">
    <br><br>
    <form action="{% url 'date_search' %}" method="GET">
      <label>ค้นหาวันว่าง : </label> <input id="datepicker" name="date" width="150" type="date"/>
      <button type="submit" >ค้นหา</button>
      <script>
      </script>
    </form>
      <table class="table">
        <tr class="thead-light">
            <th>ชื่อ</th>
            <th>เวลาว่าง</th>
            <th>วันว่าง</th>
            <th>ความจุ</th>
            <th></th>
        </tr>
        {% for i in room %}
        <tr>
            <td class="text-dark">{{ i.name }}</td>
            <td>{{ i.open_time|date:'H:i' }} - {{ i.end_time|date:'H:i' }}</td>
            <td>{{ date|date:'SHORT_DATE_FORMAT' }}</td>
            <td>{{ i.capacity }}</td>
            <td><a href=" {% url 'booking' id=i.id %} "><button type="button" class="btn btn-primary">จอง</button></a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
{% endblock content %}