{% extends "base.html" %}
{% block content %}
    <div class="container">
    <br><br>
      <table class="table">
        <tr class="thead-light">
            <th>ชื่อ</th>
            <th>เวลาว่าง</th>
            <th>วันว่าง</th>
            <th>ความจุ</th>
            <th></th>
        </tr>
        <tr>
            <td>M04</td>
            <td>9.00 am - 2.00 pm</td>
            <td>จัน พุธ ศุกร์</td>
            <td>80</td>
            <td><button type="button" class="btn btn-primary">จอง</button></td>
        </tr>
      </table>
    </div>
{% endblock content %}