{% extends "base.html" %}
{% block content %}
    <br>
    <div class="container border rounded bg-white">
      <br><br>
      <form action="{% url 'date_search' %}" method="GET">
        <div class="row form-group">
            <div class="col">
              <label>ค้นหาห้อง : </label><input name="name" type="text" class="form-control"/>
            </div>
            <div class="col">
              <label>ค้นหาวันว่าง : </label> <input name="date"  class="form-control" id="datepicker" required/>
            </div>
            <div class="col">
              <label>ค้นหาเวลาว่าง : </label>
              <input id="timepicker1" name="start_time" class="form-control" required></div>
            <div class="col">
              <label for="">ถึง :</label>
              <input id="timepicker2" name="end_time" class="form-control" required>
            </div>
            <div class="col">
              <br>
              <label for=""></label>
              <button type="submit" class="btn btn-secondary form-control">ค้นหา</button>
            </div>
        </div>
      </form>
        <table class="table table-striped" id='example'>
          <tr class="table-Secondary">
              <th>ชื่อ</th>
              <th>เวลาเปิด - ปิด</th>
              <th>ความจุ</th>
              <th></th>
          </tr>
          {% for i in room %}
          <tr>
              <td class="text-info">{{ i.name }}</td>
              <td>{{ i.open_time|date:'H:i' }} - {{ i.close_time|date:'H:i' }}</td>
              <td>{{ i.capacity }}</td>
              <td><a href=" {% url 'booking' id=i.id %} "><button type="button" class="btn btn-primary">จอง</button></a></td>
          </tr>
          {% endfor %}
        </table>
    </div>
{% endblock content %}