{% extends 'base.html' %}
{% block content %}
    <br><br>
    <div class="container border rounded bg-white">
        <br>
        <h2 class="text-primary">รายการที่ร้องขอ</h2>
        <br>
        <table class="table">
            <tr class="table-info">
                <th>ชื่อห้อง</th>
                <th>วันที่</th>
                <th>เวลาที่ขอจอง</th>
                <th>เวลาเปิด - ปิด</th>
                <th>สถานะ</th>
                <th></th>
            </tr>
            {% for i in books %}
                <tr>
                    <td>{{ i.room.name }}</td>
                    <td class="text-info">{{ i.date|date:'SHORT_DATE_FORMAT' }}</td>
                    <td class="text-primary">{{ i.start_time|date:'H:i' }} - {{ i.end_time|date:'H:i' }}</td>
                    <td>{{ i.room.open_time|date:'H:i' }} - {{ i.room.close_time|date:'H:i' }}</td>
                    <td>
                        <span class="text-{% if i.status == 'อนุมัติ' %}success{% endif %}{% if i.status == 'ไม่อนุมัติ' %}danger{% endif %}">
                            {{ i.status|default_if_none:"รออนุมัติ" }}
                        </span>
                    </td>
                    <td><a href="{% url 'book_edit' id=i.id %}"><button type="button" class="btn btn-primary">แก้ไข</button></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}