{% extends 'base.html' %}
{% block content %}
    <br><br>
    <div class="container border rounded bg-light">
        <br>
        <form action="{% url 'room_edit' id=room.id %}" method="POST">
            {% csrf_token %}
            <h3>แก้ไขห้อง : <span class="text-primary">{{ room.name }}</span></h3>
            <br>
            <div class="row">
                <div class="col-2">
                    <label for=""><b>ชื่อห้อง : </b></label>
                    <input type="text" name="name" value="{{ room.name }}" class="form-control" required>
                </div>
                <div class="col-2">
                    <label for=""><b>เวลาเปิด : </b></label>
                    <input id="timepicker1" name="open_time" value="{{ room.open_time|date:"H:i" }}" class="form-control" required>
                </div>
                <div class="col-2">
                    <label for=""><b>เวลาปิด : </b></label>
                    <input id="timepicker2" name="close_time" value="{{ room.close_time|date:"H:i" }}" class="form-control" required>
                </div>
                <div class="col-1">
                    <label for=""><b>ความจุ : </b></label>
                    <input type="number" name="capacity" value="{{ room.capacity }}" class="form-control" required>
                </div>
                <div class="col-2">
                    <br>
                    <label for=""></label>
                    <button type="submit" class="form-control btn btn-warning" onclick="return alert_cofrim('คุณต้องการจะแก้ไขใช่หรือไม่')">แก้ไข</button>
                </div>
                <div class="col-2">
                    <br>
                    <label for=""></label>
                    <input type="submit" name="delete" value="ลบ" class="form-control btn btn-danger" onclick="return alert_cofrim('คุณต้องการจะลบใช่หรือไม่')">
                </div>
            </div>
        </form>
    </div>
{% endblock content %}