<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> {% endcomment %}
    <style>
        nav{
            font-weight: bold;
        }
        body{

        }
    </style>
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="\">e-Booking</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    {% if perms.booking.view_booking %}
                    <li class="nav-item">
                        <a class="nav-link" href="/book_list/">ข้อมูลการจอง</a>
                    </li>
                    {% endif %}
                    {% if perms.booking.change_booking %}
                    <li class="nav-item">
                        <a class="nav-link" href="/">รายการที่ร้องขอ</a>
                    </li>
                    {% endif %}
                    {% if perms.booking.change_room %}
                    <li class="nav-item">
                        <a class="nav-link" href="/room_list/">จัดการสถานที่</a>
                    </li>
                    {% endif %}
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item"><span class="navbar-brand">Hello, {{ user.username }}</span></li>
                    <li class="nav-item"><a href="/book_logout/" class="nav-link">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a href="#" class="nav-link">Sign in</a></li>
                    <li class="nav-item"><a href="/book_login/" class="nav-link">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4',
        });
        $('#timepicker1').timepicker({
            uiLibrary: 'bootstrap',
            language: 'en',
        });
        $('#timepicker2').timepicker({
            uiLibrary: 'bootstrap',
            language: 'en',
        });
    </script>
</body>
</html>